<div class="card">
	<div class="card-header" translate>FILL_ALL_FIELDS_FOR_NEW_RECEIVER</div>
  <div class="card-block">
		<form [formGroup]="receiverAccountForm">
			<label for="bank" translate>Banco</label>
			<div class="input-group mb-2">
				<span class="input-group-addon"><i class="icon-organization"></i></span>
				<select formControlName="bankName" name="bank" id="bank" class="select">
					<option value="" translate>PLEASE_SELECT</option>
					<option 
						*ngFor="let bank of bankList"
						[value]="bank.BANKNAME"
					>
						<span>{{bank.BANKNUMBER}} - </span>
						<span>{{bank.BANKNAME}}</span>
					</option>
				</select>
			</div>
			
			<div *ngIf="receiverAccountForm.get('bankName').value !== 'PIX'">
				<label for="accountType" translate>ACCOUNT_TYPE</label>
				<div class="input-group mb-2">
					<span class="input-group-addon"><i class="icon-organization"></i></span>
					<select formControlName="accountType" name="accountType" id="accountType" class="select">
						<option value="" translate>PLEASE_SELECT</option>
						<option value="C" translate>CHECKING</option>
						<option value="S" translate>SAVINGS</option>
					</select>
				</div>
			</div>
				
			<div *ngIf="receiverAccountForm.get('bankName').value !== 'PIX'; else PixKey" class="inline-field-wrapper">
				<div>
					<label for="branch" translate>BRANCH</label>
					<div class="input-group mb-2">
						<span class="input-group-addon"><i class="icon-home"></i></span>
						<input formControlName="branch" type="number" name="branch" id="branch" class="form-control" placeholder="{{'BRANCH' | translate}}" autocomplete="off">
					</div>
				</div>

				<div>
					<label for="account" translate>ACCOUNT</label>
					<div class="input-group mb-2">
						<span class="input-group-addon"><i class="icon-home"></i></span>
						<input formControlName="account" type="number" name="account" id="account" class="form-control" placeholder="{{'ACCOUNT' | translate}}" autocomplete="off">
					</div>
				</div>
			</div>

			<ng-template #PixKey>
				<label for="pix" translate>PIX_KEY</label>
				<div class="input-group mb-2">
					<span class="input-group-addon"><i class="icon-home"></i></span>
					<input formControlName="pix" type="text" name="pix" id="pix" class="form-control" placeholder="{{'PIX_KEY' | translate}}" autocomplete="off">
				</div>
			</ng-template>
		</form>
		<div class="loading-wrapper">
			<ngx-loading [show]="isLoading"></ngx-loading>
		</div>
		<div class="button-wrapper">
			<button [routerLink]="['/admin']" type="button" class="btn btn-secondary" translate>BACK</button>
			<button (click)="submit()" class="btn btn-primary" [disabled]="isLoading" translate>CONTINUE</button>
		</div>
	</div>
	</div>