<div class="card">
	<div class="card-header">
		<span translate>SELECT_CITY</span>
	</div>

	<div class="card-block">
		<div class="search-city-wrapper">
			<i class="icon-magnifier"></i>
			<input type="search" class="form-control" placeholder="Pesquisar" (input)="searchCity($event.target.value)">
		</div>
		<table class="table table-striped table-hover table-clickable table-sm">
			<thead>
				<tr>
					<th translate>COUNTRY</th>
					<th translate>CITY</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let city of filteredCityList" (click)="select(city)">
					<td>
						<img src="../../../assets/img/flags/{{country}}.png" alt="a country flag" class="flag">
					</td>
					<td>
						{{city.City}}
					</td>
					<td><i class="icon-arrow-right"></i></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>