<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
  <a class="navbar-brand" href="#/login"></a>
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item">
      <a class="nav-link navbar-toggler" href="#" appSidebarToggler>&#9776;</a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown padding-right *ngIf="currentLanguage">
      <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
        <img src="{{ currentLanguage.flag }}">
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" *ngFor="let lang of languageList" (click)="changeLanguage(lang)"><img src="{{ lang.flag }}"> {{ lang.name }}</a>
      </div>
    </li>
    <li class="nav-item dropdown" dropdown padding-right>
      <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
        <span class="d-md-down-none">{{displayName}}</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <!--<div class="dropdown-header text-center"><strong>Account</strong></div>-->
        <!--<a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Settings</a>-->
        <a class="dropdown-item" (click)="doLogout()"><i class="fa fa-lock"></i> {{ 'LOGOUT' | translate }}</a>
      </div>
    </li>
  </ul>
</header>

<div class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="divider"></li>
        <li class="nav-title" translate>MENU</li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/transfer']">
						<svg class="send-money-icon" xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 -960 960 960" width="16"><path fill="currentColor" d="M560-440q-50 0-85-35t-35-85q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35ZM280-320q-33 0-56.5-23.5T200-400v-320q0-33 23.5-56.5T280-800h560q33 0 56.5 23.5T920-720v320q0 33-23.5 56.5T840-320H280Zm80-80h400q0-33 23.5-56.5T840-480v-160q-33 0-56.5-23.5T760-720H360q0 33-23.5 56.5T280-640v160q33 0 56.5 23.5T360-400Zm440 240H120q-33 0-56.5-23.5T40-240v-440h80v440h680v80ZM280-400v-320 320Z"/></svg>
						{{ 'SEND_MONEY' | translate }} 
					</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/accounts']"><i class="icon-wallet"></i> {{ 'SENDER_ACCOUNTS' | translate }} </a>
        </li>
        <!-- <li class="nav-item">
          <a disabled class="nav-link" routerLinkActive="active"><i class="icon-people"></i> {{ 'RECEIVERS' | translate }} </a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/changePassword']"><i class="icon-lock"></i>{{ 'CHANGE_PASSWORD' | translate }} </a>
        </li>
				<li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/invoices-history']"><i class="fa fa-history"></i>{{'MY_INVOICES' | translate}}</a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Main content -->
  <main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <app-breadcrumbs></app-breadcrumbs>
    </ol>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>
</div>

<footer class="app-footer">
  {{appSetup?.copyright}} <span>2001-{{currentYear}}</span>
  <span class="float-right">Powered by <a target="_blank" href="http://moneytransfersystem.com/">Xpresso MTS</a></span>
</footer>
