<div class="card">
  <div class="card-header">
		<span translate>TRANSFER_AMOUNT</span>
		<!-- <button class="btn btn-primary btn-mobile px-4" (click)="select()" translate>NEXT</button> -->
	</div>
  <div class="card-block">
    <form action="">
			<div class="control-wrapper">
				<strong translate>SEND</strong>
				<div class="input-wrapper">
					<div class="unit-flag-wrapper">
						<img src="../../../assets/img/flags/US.png" alt="">
						<span>USD</span>
					</div>
					<input 
						type="number" 
						class="form-control" 
						id="send-input" 
						name="send"
						[(ngModel)]="transfer.base" 
						(change)="convertBase()" 
						(ngModelChange)="checkMaxSend()"
					>
				</div>
			</div>
			<div class="control-wrapper">
				<strong translate>RECEIVE</strong>
				<div class="input-wrapper">
					<div class="custom-dropdown" id="customDropdown" (click)="toggleDropdown()">
						<span *ngIf="!selectedUnit; else selectedUnitFlag" id="selectedLabel">Select</span>
						<div class="dropdown-content" *ngIf="showDropdown">

							<div *ngFor="let unit of units" class="item" (click)="selectUnit(unit.unit)">
								<img src="../../../assets/img/flags/{{unit.flag}}.png" alt="a country flag">
								<span>{{unit.showUnit}}</span>
							</div>

						</div>
						<i *ngIf="units.length > 1" class="icon-arrow-down"></i>
					</div>				
					<input 
						type="number" 
						class="form-control" 
						id="receive-input" 
						step="0.01" 
						[(ngModel)]="transfer.send" 
						(change)="convertSend()" 
						name="receive"
					>
				</div>
			</div>
			<ngx-loading [show]="isLoading"></ngx-loading>
			<span class="help-block">1 {{ linkInfo.BaseUnit }} = {{ linkInfo.Rate }} {{ linkInfo.SendUnit }}</span>
			<div class="col-12 message-container" *ngIf="message">
				<div class="alert alert-danger" role="alert">
					{{ message }}
				</div>
			</div>
			<div class="payout-group-btn">
				<button 
					*ngIf="hasBankDeposit" 
					(click)="goNextPage('deposit')" 
					class="btn btn-primary" 
					[disabled]="!selectedUnit || exceededMaxValue()" 
					>
					<svg xmlns="http://www.w3.org/2000/svg" height="22" viewBox="0 -960 960 960" width="22"><path fill="currentColor" d="M200-280v-280h80v280h-80Zm240 0v-280h80v280h-80ZM80-120v-80h800v80H80Zm600-160v-280h80v280h-80ZM80-640v-80l400-200 400 200v80H80Z"/></svg>
					<span translate>BANKDEP</span>
				</button>
				<button 
					*ngIf="hasCashPayment" 
					(click)="goNextPage('cash')" 
					class="btn btn-secondary" 
					[disabled]="!selectedUnit || exceededMaxValue()"
					>
					<svg xmlns="http://www.w3.org/2000/svg" height="22" viewBox="0 -960 960 960" width="22"><path fill="currentColor" d="M560-440q-50 0-85-35t-35-85q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35ZM280-320q-33 0-56.5-23.5T200-400v-320q0-33 23.5-56.5T280-800h560q33 0 56.5 23.5T920-720v320q0 33-23.5 56.5T840-320H280Zm80-80h400q0-33 23.5-56.5T840-480v-160q-33 0-56.5-23.5T760-720H360q0 33-23.5 56.5T280-640v160q33 0 56.5 23.5T360-400Zm440 240H120q-33 0-56.5-23.5T40-240v-440h80v440h680v80ZM280-400v-320 320Z"/></svg>
					<span translate>PAYCASH</span>
				</button>
			</div>
		</form>
  </div>
</div>


<ng-template #selectedUnitFlag>
	<div class="unit-flag-wrapper">
		<img src="../../../assets/img/flags/{{selectedFlag}}.png" alt="a country flag">
		<span>{{selectedUnit}}</span>
	</div>
</ng-template>