<div class="card">
  <div class="card-header">
		<span translate>TRANSFER_AMOUNT</span>
		<!-- <button class="btn btn-primary btn-mobile px-4" (click)="select()" translate>NEXT</button> -->
	</div>
  <div class="card-block">
    <form action="">
			<div class="control-wrapper">
				<strong translate>SEND</strong>
				<div class="input-wrapper">
					<div class="unit-flag-wrapper">
						<img src="../../../assets/img/flags/US.png" alt="">
						<span>USD</span>
					</div>
					<input 
						type="number" 
						class="form-control" 
						id="send-input" 
						name="send"
						[(ngModel)]="transfer.base" 
						(change)="convertBase()" 
						(ngModelChange)="checkMaxSend($event)"
					>
				</div>
			</div>
			<div class="control-wrapper">
				<strong translate>RECEIVE</strong>
				<div class="input-wrapper">
					<div class="custom-dropdown" id="customDropdown" (click)="toggleDropdown()">
						<span *ngIf="!selectedUnit; else selectedUnitFlag" id="selectedLabel">Select</span>
						<div class="dropdown-content" *ngIf="showDropdown">

							<div *ngFor="let unit of units" class="item" (click)="selectUnit(unit.unit)">
								<img src="../../../assets/img/flags/{{unit.flag}}.png" alt="a country flag">
								<span>{{unit.unit}}</span>
							</div>

						</div>
						<i *ngIf="units.length > 1" class="icon-arrow-down"></i>
					</div>				
					<input 
						type="number" 
						class="form-control" 
						id="receive-input" 
						step="0.01" 
						[(ngModel)]="transfer.send" 
						(change)="convertSend()" 
						name="receive"
					>
				</div>
			</div>
			<ngx-loading [show]="isLoading"></ngx-loading>
			<span class="help-block">1 {{ linkInfo.BaseUnit }} = {{ linkInfo.Rate }} {{ linkInfo.SendUnit }}</span>
			<form class="transfer-type-form" *ngIf="hasBankDeposit && hasCashPayment">
				<div class="transfer-type" *ngIf="hasCashPayment">
					<label for="cash" [class.selected]="transferType === 'cash'">
						<input type="radio" placeholder="CASH" id="cash" name="cash" value="cash" [(ngModel)]="transferType">
						<span translate>CASH</span>
					</label>
				</div>
				<div class="transfer-type" *ngIf="hasBankDeposit">		
					<label for="deposit" [class.selected]="transferType === 'deposit'">
						<input type="radio" name="deposit" id="deposit" value="deposit" [(ngModel)]="transferType">
						<span translate>BANKDEP</span>
					</label>
				</div>
			</form>
			<div class="col-12 message-container" *ngIf="message">
				<div class="alert alert-danger" role="alert">
					{{ message }}
				</div>
			</div>
			<div>
				<button [disabled]="!selectedUnit || !transferType || hasValuesError" (click)="goNextPage()" class="btn btn-primary px-4" translate>
					NEXT
				</button>
			</div>
		</form>
  </div>
</div>


<ng-template #selectedUnitFlag>
	<div class="unit-flag-wrapper">
		<img src="../../../assets/img/flags/{{selectedFlag}}.png" alt="a country flag">
		<span>{{selectedUnit}}</span>
	</div>
</ng-template>