.card-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 0.50rem;
	padding-bottom: 0.50rem;
}

.btn-primary {
	margin-top: 0px !important;
}

.btn-desktop {
	width: 160px;
	cursor: pointer;

	@media screen and (max-width: 480px) {
		display: none;
	}
}

.btn-mobile {
	@media screen and (min-width: 481px) {
		display: none;
	}
}

.send-wrapper, .receive-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 600px;
	row-gap: 5px;
}

.label-wrapper {
	display: flex;
	align-items: center;
	column-gap: 16px;
	padding-left: 15px;
	padding-right: 4rem;

	label {
		font-weight: 600;
	}
}