.card-block {
	padding: 1.25rem 4rem 1.25rem 4rem;

	@media screen and (max-width: 480px) {
		padding: 1.25rem 1.75rem 1.25rem 1.75rem;
	}
}

.form-title {
	font-size: 20px;
	font-weight: 600;	
	margin-bottom: 1.25rem;
}

.select {
	padding: 0.5rem;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.15);
	background-color: #ffffff;
	color: #607d8b;
}

.button-wrapper {
	display: flex;
	gap: 1rem;
	justify-content: right;

	@media screen and (max-width: 480px) {
		flex-direction: column-reverse;
	}
}

.field-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
}

.input-error {
	color: red
}

.forms-divider {
	margin: 2.25rem auto 2.25rem auto;
}

.inline-field-wrapper {

	@media screen and (min-width: 768px) {
		display: flex;
		column-gap: 5rem;

		div {
			flex: 1;
		}
	}
}