form {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.select {
	padding: 0.5rem;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.15);
	background-color: #ffffff;
	color: #607d8b;
}

.name-wrapper {
	.last-name-wrapper {
		flex: 1;
		position: relative;
	}

	@media screen and (min-width: 768px) {
		display: flex;
		column-gap: 5rem;
	
		.first-name-wrapper {
			width: 50%;
		}
	}
}

.location-wrapper {
	@media screen and (min-width: 768px) {
		display: flex;
		column-gap: 5rem;
	
		.city-wrapper {
			width: 50%;
		}
	}
}

.zip-phone-wrapper {
	@media screen and (min-width: 768px) {
		display: flex;
		gap: 5rem;

		.zip-wrapper {
			width: 50%;
		}
	}
	.phone-wrapper {
		flex: 1;
		display: flex;
		flex-direction: column;
		position: relative;
	}
}

.button-wrapper {
	display: flex;
	gap: 1rem;
	justify-content: right;

	@media screen and (max-width: 480px) {
		flex-direction: column-reverse;
	}
}

.field-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
}

.input-error {
	color: red
}