<div class="card">
  <div class="card-header" translate>CHANGE_PASSWORD</div>
  <div class="card-block">
    <form action="" class="form-horizontal" method="post">
      <div class="form-group row">
        <label class="col-md-3 form-control-label" for="current" translate>PASSWORD_CURRENT</label>
        <div class="col-md-3">
          <input class="form-control" id="current" name="current" type="password" [(ngModel)]="password.current">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 form-control-label" for="new" translate>PASSWORD_NEW</label>
        <div class="col-md-3">
          <input class="form-control" id="new" name="new" type="password" [(ngModel)]="password.new">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 form-control-label" for="confirm" translate>PASSWORD_CONFIRM</label>
        <div class="col-md-3">
          <input class="form-control" id="confirm" name="confirm" type="password" [(ngModel)]="password.confirm">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
            <ngx-loading [show]="isLoading"></ngx-loading>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <button class="btn btn-primary px-4" (click)="doChange()" translate>CHANGE_PASSWORD</button>
        </div>
      </div>
    </form>
  </div>
</div>
