<div class="button-wrapper">
	<button type="button" class="btn btn-secondary" [routerLink]="['/admin', 'transfer']">
		<i class="icon-arrow-left"></i>
		<span translate>BACK</span>
	</button>
</div>

<div class="card">
	<div class="card-header" translate>CHOOSE_INVOICE_SEE_DETAILS</div>
	<div class="card-block table-responsive">
		<table class="table table-striped table-hover table-clickable table-sm">
			<thead>
				<tr>
					<th>Invoice Nº</th>
					<th translate class="hide-on-mobile">RECEIVER</th>
					<th translate>UNIT</th>
					<th translate>AMOUNT</th>
					<th translate>CREATED_ON</th>
					<th class="hide-on-mobile">Status</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let invoice of invoiceList" [routerLink]="['/admin', 'invoice', invoice.INVOICENUMBER]">
					<td>
						<img src="../../../assets/img/flags/BR.png" alt="a country flag" class="flag">
						***{{invoice.INVOICENUMBER.slice(-6)}}
					</td>
					<td class="hide-on-mobile">{{invoice.RECEIVERNAME}} {{invoice.RECEIVERLAST}}</td>
					<td>{{invoice.UNIT}}</td>
					<td>{{invoice.PAYRECEIVER}}</td>
					<td>{{invoice.DATE}}</td>
					<td class="hide-on-mobile"><strong>{{invoice.INVOICESTATUS}}</strong></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>