<div class="card">
	<div class="card-header" translate>CHOOSE_INVOICE_SEE_DETAILS</div>
	<div class="card-block table-responsive">
		<table class="table table-striped table-hover table-clickable table-sm">
			<thead>
				<tr>
					<th>Invoice Nº</th>
					<th translate>RECEIVER</th>
					<th translate>VALUE</th>
					<th translate>Data</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let invoice of invoiceList" [routerLink]="['/admin', 'invoice', invoice.INVOICENUMBER]">
					<td>
						<img src="../../../assets/img/flags/BR.png" alt="a country flag" class="flag">
						{{invoice.INVOICENUMBER}}
					</td>
					<td>{{invoice.RECEIVERNAME}} {{invoice.RECEIVERLAST}}</td>
					<td>{{invoice.PAYRECEIVER}} {{invoice.UNIT}}</td>
					<td>{{invoice.DATE}}</td>
					<td><strong>{{invoice.APPSTATUS}}</strong></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>