<div class="button-wrapper">
	<button type="button" class="btn btn-secondary go-back-btn" [routerLink]="['/admin', 'transfer']">
		<i class="icon-arrow-left"></i>
		<span translate>BACK</span>
	</button>
</div>

<div class="card">
	<div class="card-header" translate>CHOOSE_INVOICE_SEE_DETAILS</div>
	<div class="card-block table-responsive">
		<div class="custom-dropdown" (click)="toggleDropdown()">
			<span *ngIf="!sortType; else sortLabel" class="sort-label">Sort By</span>
			<i class="icon-arrow-down"></i>
			<div class="dropdown-content" *ngIf="showDropdown">
				<button (click)="sortBy('INVOICENUMBER')" class="btn btn-primary btn-sm">Invoice Nº</button>
				<button (click)="sortBy('RECEIVERNAME')" class="btn btn-primary btn-sm">Receiver</button>
				<button (click)="sortByAmount()" class="btn btn-primary btn-sm">Amount</button>
				<button (click)="sortByDate()" class="btn btn-primary btn-sm">Date</button>
			</div>
		</div>
		<table class="table table-striped table-hover table-clickable table-sm">
			<thead>
				<tr>
					<th>Invoice Nº</th>
					<th translate class="hide-on-mobile">RECEIVER</th>
					<th translate>UNIT</th>
					<th translate>AMOUNT</th>
					<th translate>CREATED_ON</th>
					<th class="hide-on-mobile">Status</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let invoice of invoiceList" [routerLink]="['/admin', 'invoice', invoice.INVOICENUMBER]">
					<td class="invoice-num">
						<img src="../../../assets/img/flags/{{invoice.FLAG}}.png" alt="a country flag" class="flag">
						<svg *ngIf="invoice.PAYMETHOD === 'BANKDEP'; else cashIcon" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20"><path fill="currentColor" d="M200-280v-280h80v280h-80Zm240 0v-280h80v280h-80ZM80-120v-80h800v80H80Zm600-160v-280h80v280h-80ZM80-640v-80l400-200 400 200v80H80Z"/></svg>

						<ng-template #cashIcon>
							<svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20"><path fill="currentColor" d="M560-440q-50 0-85-35t-35-85q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35ZM280-320q-33 0-56.5-23.5T200-400v-320q0-33 23.5-56.5T280-800h560q33 0 56.5 23.5T920-720v320q0 33-23.5 56.5T840-320H280Zm80-80h400q0-33 23.5-56.5T840-480v-160q-33 0-56.5-23.5T760-720H360q0 33-23.5 56.5T280-640v160q33 0 56.5 23.5T360-400Zm440 240H120q-33 0-56.5-23.5T40-240v-440h80v440h680v80ZM280-400v-320 320Z"/></svg>
						</ng-template>
						***{{invoice.INVOICENUMBER.slice(-6)}}
					</td>
					<td class="hide-on-mobile">{{invoice.RECEIVERNAME}} {{invoice.RECEIVERLAST}}</td>
					<td>{{invoice.UNIT}}</td>
					<td>{{invoice.PAYRECEIVER}}</td>
					<td>{{invoice.DATE}}</td>
					<td class="hide-on-mobile"><strong>{{invoice.INVOICESTATUS}}</strong></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<ng-template #sortLabel>
	<span class="sort-label">{{sortType}}</span>
</ng-template>