<button type="button" class="btn btn-secondary go-back-btn" [routerLink]="['/admin', 'transfer', 'purposeList']">
	<i class="icon-arrow-left"></i>
	<span translate>BACK</span>
</button>

<div class="card">
  <div class="card-header">
		<span translate>ORDER_SUMMARY</span>
		<button type="button" class="btn btn-primary btn-mobile mt-3" (click)="modalConfirm.show()" translate>BUTTON_DO_TRANSFER</button>
	</div>
  <div class="card-block">

    <div class="row" *ngIf="payoutOption === 'deposit'; else cashInfo">
      <div class="col-md-12">
        <h3 translate>RECEIVER</h3>
      </div>

      <div>
				<div *ngIf="receiverAccount.BankName !== 'PIX'; else PIX" class="col-md-12 ident">
					<div class="item"><strong translate>NAME</strong>: {{ receiver.ReceiverName }}</div>
					<div class="item"><strong translate>BANK</strong>: {{receiverAccount.BankName }}</div>
					<div *ngIf="receiverAccount.BankBranch" class="item"><strong translate>BRANCH</strong>: {{ receiverAccount.BankBranch }}</div>
					<div class="item"><strong translate>BANK_ACCOUNT_NUMBER</strong>: {{ receiverAccount.AccountNo }}</div>
				</div>
	
				<ng-template class="col-md-12 ident" #PIX>
					<div class="col-md-12 ident">
						<div class="item"><strong translate>NAME</strong>: {{ receiver.ReceiverName }}</div>
						<div class="item"><strong translate>PIX</strong>: {{ receiverAccount.AccountNo }}</div>
					</div>
				</ng-template>
			</div>
		</div>

    <hr/>

		<ng-template #cashInfo>
			<div>
				<div class="row">
					<div class="col-md-12">
						<h3 translate>RECEIVER</h3>
					</div>
					<div class="col-md-12 ident">
						<div class="item"><strong translate>NAME</strong>: {{ receiver.ReceiverName }}</div>
					</div>
				</div>
		
				<hr />
		
				<div class="row">
					<div class="col-md-12">
						<h3 translate>PAYMENT_DETAILS</h3>
					</div>
					<div class="col-md-12 ident">
						<div class="item"><strong translate>CASH_PAYMENT</strong>: {{ payoutLocation.City }}</div>
					</div>
				</div>
			</div>
		</ng-template>

    <div class="row">
      <div class="col-md-12">
        <h3 translate>PURPOSE_OF_TRANSFER</h3>
      </div>
      <div class="col-md-12 ident">
        <div class="item" *ngIf="currentLang == 'pt'">{{ purpose.PurposeNamePT }}</div>
        <div class="item" *ngIf="currentLang == 'en'">{{ purpose.PurposeNameUS }}</div>
				<div class="item" *ngIf="currentLang == 'es'">{{ purpose.PurposeNameES }}</div>
      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="col-md-12">
        <h3 translate>VALUES</h3>
      </div>
      <div class="col-md-12 ident">
        <div class="item">
					<img src="../../../assets/img/flags/US.png" alt="a country flag">
					<strong translate>SEND</strong> 
					({{ linkInfo.BaseUnit }}): {{ amount.base }}
				</div>
        <div class="item">
					<img src="../../../assets/img/flags/{{receiveCountry}}.png" alt="a country flag">
					<strong translate>RECEIVE</strong> 
					({{ linkInfo.SendUnit }}): {{ amount.send }}
				</div>
        <div *ngIf="rate > 1" class="item"><strong translate>RATE</strong>: 1 {{ linkInfo.BaseUnit }} = {{ linkInfo.Rate }} {{ linkInfo.SendUnit }}</div>
        <div class="item"><strong translate>SERVICE_FEE</strong> ({{ linkInfo.BaseUnit }}): {{ linkInfo.ServiceFee }}</div>
        <div class="item total"><strong translate>TOTAL</strong> ({{ linkInfo.BaseUnit }}): {{ total }}</div>
      </div>
    </div>

    <div class="col-12">
      <div class="col-12">
          <ngx-loading [show]="isLoading"></ngx-loading>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="message">
        {{ message }}
      </div>
    </div>
		<div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-primary btn-desktop mt-3" (click)="modalConfirm.show()" translate>BUTTON_DO_TRANSFER</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalConfirm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" translate>CONFIRM_DO_TRANSFER_TITLE</h4>
        <button type="button" class="close" (click)="modalConfirm.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p translate>CONFIRM_DO_TRANSFER_TEXT</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalConfirm.hide()" translate>BUTTON_CANCEL</button>
        <button type="button" class="btn btn-primary" (click)="modalConfirm.hide(); checkGeolocation()" translate>BUTTON_DO_TRANSFER</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->