.item {
    &:not(:last-child) {
        margin-bottom: 5px;
    }
    &.total {
        font-weight: bold;
        font-size: 1rem;
        padding: 5px 0;
    }
		
		img {
			max-width: 26px;
		}
}
h3 {
    font-size: 1.11rem;
    font-weight: bold;
    color: #20a8d8;
}
.ident {
    padding-left: 1.5rem;
}


//Overrides on mobiles

.card-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 0.50rem;
	padding-bottom: 0.50rem;
}

.btn-primary {
	margin-top: 0px !important;
}


.btn-desktop {
	@media screen and (max-width: 480px) {
		display: none;
	}
}

.btn-mobile {
	@media screen and (min-width: 481px) {
		display: none;
	}
}