@import "../../../scss/bootstrap-variables";

.lang-bar {
  width: 100%;
	background-color: #ffffff;
}

.copyright-label {
	margin-bottom: 45px;
}

.brand-label {
	background-color: $brand-primary-darker;
	padding: 0.6rem 2rem;
	border-radius: 0.3rem;
}

.mobile-header {
	display: none;
	.head {
		margin-bottom: 16px;
	}
	
	.subtitle {
		color: #676d74;
	}
	
	.paragraph {
		font-size: 16px;
		color: #676d74;
	}
}

.button-wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 0.75rem;

	input, button {
		cursor: pointer;
	}
}

.eye-toggle {
	position: absolute;
	right: 14px;
	top: 14px;
	font-size: 18px;
	z-index: 10;
	cursor: pointer;
}

.eye-toggle:hover {
	color: #676d74;
}

.password-rules {
	display: flex;
	flex-direction: column;
	color: #676d74;

	.icon-check {
		color: green;
	}

	.fa-times {
		color: red;
	}
}

// Reworked Page Styles

.logo-img {
	display: block;
	margin: auto;
	margin-bottom: 1rem;
	max-width: 340px;
}

.cont {
	display: flex;
	flex-direction: row-reverse;
	background-color: #ffffff;
	min-height: 100vh;

	.form-wrapper {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		form {
			margin-top:5.6rem;
			padding-left: 11rem;
			padding-right: 12rem;
		}

		.login-header {
			margin-bottom: 0;
		}
	}

	.splash-container {
		flex: 1;
		
		//background: linear-gradient( rgba(255, 15, 79, 0.7), rgba(255, 15, 79, 0.7) ), url("../../../assets/img/splash.png");
		.client-info-wrapper {
			padding-top: 3.6rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			color: #ffffff;
			height: 100%;
			
			h1 {
				margin-bottom: 1.8rem;
			}
		}

		$brand-primary-with-opacity: rgba(red($brand-primary), green($brand-primary), blue($brand-primary), 0.6);
		.welcome-wrapper {
			background-color: $brand-primary-with-opacity;
			padding: 1.6rem 2rem;
			border-radius: 0.3rem;
			max-width: 80%;

			h3 {
				margin-bottom: 16px;
			}

			h6 {
				margin-bottom: 0.2rem;
			}

			p {
				margin: 0;
			}
		}

		.powered-by-box {
			display: flex;
			margin-top: auto;
			margin-bottom: 8px;

			img {
				display: block;
				max-width: 8rem;
				border-top-right-radius: 0.3rem;
				border-bottom-right-radius: 0.3rem;
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.splash-container {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.form-wrapper form {
		margin-top: 1.6rem !important;
		padding-left: 1.4rem !important;
		padding-right: 1.4rem !important;
	}

	.mobile-header {
		display: block;
	}
}

@media screen and (max-width: 400px) {
	.logo-img {
		width: 300px;
	}
}