.lang-bar {
    width: 100%;
}

.container {
	margin-top: 8rem;
}

.card {
    margin-bottom: 0;
    border: none;
}

.copyright-label {
	margin-bottom: 45px;
}

.brand-label {
	background-color: #1d94c6;
	padding: 0.6rem 1rem;
}

.mobile-brand-navbar {
	position: fixed;
	width: 100%;
	background-color: #20a8d8;
	padding: 8px;
	z-index: 9;

	@media screen and (min-width: 991px) {
		display: none;
	}
}

.mobile-text {
	color: #ffffff;
	font-size: 22px;
	display: block;
	text-align: center;
}

.mobile-label {
	margin-top: 1.5rem;

	@media screen and (min-width: 991px) {
		display: none;
	}
}

.mobile-label {
	a {
		display: block;
		text-align: center;
		font-size: 12px;
		margin-bottom: 10px;
	}
	

	span {
		display: block;
		text-align: center;
		color: #676d74;
		font-size: 10px;
	}
}

.button-wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 0.75rem;
}