<header class="mobile-brand-navbar">
	<span class="mobile-text">{{appSetup?.clientName}}</span>
</header>

<!-- Reworked Layout -->
<div class="cont">
	<div class="form-wrapper">
		<form (ngSubmit)="doLogin()">
			<img class="logo-img" src="../../../assets/img/generic-logo.jpeg" alt="logo">
			<h2>{{ 'LOGIN' | translate }}</h2>
			<p class="text-muted" translate>LOGIN_SUB</p>
			<div class="input-group mb-3">
				<span class="input-group-addon"><i class="icon-user"></i></span>
				<input 
					name="email" 
					[(ngModel)]="loginInputs.email" 
					type="email" 
					class="form-control form-control-lg" 
					placeholder="{{ 'EMAIL' | translate }}" 
					autocomplete="off"
				>
			</div>
			<div class="input-group mb-3">
				<span class="input-group-addon"><i class="icon-lock"></i></span>
				<input 
					name="password" 
					[(ngModel)]="loginInputs.password" 
					(input)="checkPassword()"
					type="password" 
					class="form-control form-control-lg" 
					placeholder="{{ 'PASSWORD' | translate }}" 
					#passwordInput 
					autocomplete="off"
				>
				<i (click)="handlePassInputVisibility($event.target)" class="eye-toggle icon-eye"></i>
			</div>
			<div class="password-rules mb-3">
				<span>
					<i class="fa fa-times" #minLength></i>
					{{'SHOULD_HAVE_MINIMUM_CHARACTERS' | translate}}
				</span>
				<span>
					<i class="fa fa-times" #hasUppercase></i>
					{{'SHOULD_HAVE_UPPERCASE' | translate}}
				</span>
				<span>
					<i class="fa fa-times" #hasDigit></i>
					{{'SHOULD_HAVE_DIGITS' | translate}}
				</span>
			</div>
			<div>
				<div>
						<ngx-loading [show]="isLoading"></ngx-loading>
				</div>
			</div>
			<div>
				<div class="button-wrapper">
					<input 
						type="submit" 
						class="btn btn-primary btn-lg px-4" 
						[disabled]="!loginInputs.email || !loginInputs.password" 
						routerLinkActive="active" 
						value="{{ 'LOGIN' | translate }}"
					/>
					<button 
						type="button" 
						class="btn btn-primary btn-lg px-4" 
						[disabled]="!loginInputs.email || !loginInputs.password" 
						(click)="register()" 
						translate
						>CREATE_ACCOUNT
					</button>
					<button 
						type="button" 
						class="btn btn-link btn-lg px-0" 
						[routerLink]="['/recover']" 
						translate
						>FORGOT_PASSWORD
					</button>
				</div>
			</div>
		</form>
		<div class="lang-bar card-footer text-center">
			<language-list></language-list>
		</div>
	</div>
	<div 
		class="splash-container" 
		[ngStyle]="{'background': 'linear-gradient( rgba(99, 174, 255, 0.3), rgba(99, 174, 255, 0.3) ), url(../../../assets/img/' + appSetup?.loginPageSplashImage + ')'}">
		<div class="client-info-wrapper">
			<h1><strong>Boas-vindas a {{ '{company}' }}</strong></h1>
			<div class="welcome-wrapper">
				<h3>Enviar dinheiro com a {{ '{company}' }} é muito simples!</h3>
				<h6><strong>Você já é cliente de uma de nossas lojas?</strong></h6>
				<p style="margin-bottom: 16px;">Você não precisa criar uma conta nova. Basta solicitar o seu atendente preferido que ative sua conta</p>

				<h6><strong>Não é nosso cliente ainda?</strong></h6>
				<p>Você poderá criar uma conta nova aqui e agora! Entre com o seu email no campo de login e informe uma senha segura.</p>
			</div>
			<div class="powered-by-box">
				<span class="brand-label">Powered by </span>
				<img src="../../../assets/img/xpresso-logo.jpeg" alt="">
			</div>
			<strong><p class="copyright-label">{{appSetup?.copyright}} <span>2001-{{currentYear}}</span> </p></strong>
		</div>
	</div>
</div>