<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="card">
          <div class="card-block">
            <div class="row">
              <div class="col-12">
                <h1 translate>REGISTER</h1>
                <p class="text-muted" translate>REGISTER_SUB</p>
              </div>
            </div>
            <div class="row">
							<div class="col-12">
								<form [formGroup]="registerControls" (ngSubmit)="submit()">
									<div class="inline-field-wrapper">
										<div>
											<label for="firstName" translate>NAME</label>
											<div class="input-group mb-2">
												<span class="input-group-addon"><i class="icon-user"></i></span>
												<input 
													formControlName="senderName" 
													type="text" 
													name="firstName" 
													id="firstName" 
													class="form-control" 
													placeholder="{{'NAME' | translate}}"
												>
											</div>
										</div>
	
										<div class="mb-2">
											<label for="surname" translate>LASTNAME</label>
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-user"></i></span>
												<input 
													formControlName="senderLast" 
													type="text" 
													name="surname" 
													id="surname" 
													class="form-control" 
													placeholder="{{'LASTNAME' | translate}}"
												>
											</div>
											<small 
												*ngIf="registerControls.get('senderLast').hasError('pattern')" 
												class="input-error"
												translate
												>INVALID_SURNAME
											</small>
										</div>
									</div>

									<div>
										<label for="birthdate" translate>BIRTH_DATE</label>
										<div class="input-group mb-2">
											<span class="input-group-addon"><i class="icon-user"></i></span>
											<input 
												formControlName="birthdate" 
												type="date" 
												name="birthdate" 
												id="birthdate" 
												class="form-control" 
												placeholder="{{'BIRTH_DATE' | translate}}"
											>
										</div>
									</div>

									<div class="inline-field-wrapper">
										<div>
											<label for="docType" translate>IDENTIFICATION_DOC</label>
											<div class="input-group mb-2">
												<span class="input-group-addon"><i class="icon-doc"></i></span>
												<select formControlName="docType" name="docType" id="docType" class="select">
													<option value="" translate>PLEASE_SELECT</option>
													<option *ngFor="let type of idTypeList" [value]="type.IDTYPESENDER">{{type.IDTYPENAMESENDER}}</option>
												</select>
											</div>
										</div>
	
										<div>
											<label for="document" translate>DOCUMENT</label>
											<div class="input-group mb-2">
												<span class="input-group-addon"><i class="icon-doc"></i></span>
												<input 
													formControlName="senderDoc" 
													type="text" 
													name="document" 
													id="document" 
													class="form-control" 
													placeholder="{{'DOCUMENT' | translate}}"
												>
											</div>
										</div>
									</div>

									<div class="inline-field-wrapper">
										<div>
											<label for="address" translate>ADDRESS</label>
											<div class="input-group mb-2">
												<span class="input-group-addon"><i class="icon-map"></i></span>
												<input 
													formControlName="address" 
													type="text" 
													name="address" 
													id="address" 
													class="form-control" 
													placeholder="{{'ADDRESS' | translate}}"
												>
											</div>
										</div>
										<div>
											<label for="state" translate>STATE</label>
											<div class="input-group mb-2">
												<span class="input-group-addon"><i class="icon-location-pin"></i></span>
												<select formControlName="state" name="state" id="state" class="select">
													<option value="" translate>PLEASE_SELECT</option>
													<option *ngFor="let state of validStates" [value]="state">{{state}}</option>
												</select>
											</div>
										</div>
									</div>

									<div class="inline-field-wrapper">
										<div>
											<label for="city" translate>CITY</label>
											<div class="input-group mb-2">
												<span class="input-group-addon"><i class="icon-location-pin"></i></span>
												<input 
													formControlName="city" 
													type="text" 
													name="city" 
													id="city" 
													class="form-control" 
													placeholder="{{'CITY' | translate}}"
												>
											</div>
										</div>
	
										<div>
											<label for="zip" translate>ZIPCODE</label>
											<div class="input-group mb-2">
												<span class="input-group-addon"><i class="fa fa-hashtag"></i></span>
												<input 
													formControlName="zipcode" 
													type="text" 
													name="zip" 
													id="zip" 
													class="form-control" 
													placeholder="{{'ZIPCODE' | translate}}"
												>
											</div>
										</div>
									</div>
									
									<div class="inline-field-wrapper">
										<div>
											<label for="cellphone" translate>CELLPHONE</label>
											<div class="input-group mb-2">
												<span class="input-group-addon"><i class="icon-phone"></i></span>
												<input
													formControlName="cellphone" 
													maxlength="20" 
													type="tel" 
													name="cellphone" 
													id="cellphone" 
													class="form-control" 
													placeholder="{{'CELLPHONE' | translate}}"
												>
											</div>
										</div>

										<div>
											<label for="homephone" translate>HOMEPHONE</label>
											<span class="optional">
												(<small translate>OPTIONAL</small>)
											</span>
											<div class="input-group mb-2">
												<span class="input-group-addon"><i class="icon-phone"></i></span>
												<input 
													formControlName="homephone" 
													type="tel" 
													name="homephone" 
													id="homephone" 
													class="form-control" 
													placeholder="{{'HOMEPHONE' | translate}}"
												>
											</div>
										</div>
									</div>

									<div class="inline-field-wrapper">
										<div class="mb-2">
											<label for="SSNumberSender" translate>SS Number Sender</label>
											<span class="optional">
												(<small translate>OPTIONAL</small>)
											</span>
											<div class="input-group">
												<span class="input-group-addon"><i class="icon-envelope"></i></span>
												<input 
													formControlName="SSNumberSender" 
													type="text" 
													name="SSNumberSender" 
													id="SSNumberSender" 
													class="form-control" 
													placeholder="SS Number Sender"
												>
											</div>
										</div>

										<div class="mb-2">
											<label for="senderCard" translate>Sender Card</label>
											<span class="optional">
												(<small translate>OPTIONAL</small>)
											</span>
											<div class="input-group">
												<span class="input-group-addon"><i class="fa fa-hashtag"></i></span>
												<input 
													formControlName="senderCard" 
													type="number" 
													name="senderCard" 
													id="senderCard" 
													class="form-control" 
													placeholder="Sender Card"
												>
											</div>
										</div>
									</div>

									<div class="mb-2">
										<label for="email" translate>EMAIL</label>
										<div class="input-group">
											<span class="input-group-addon"><i class="icon-envelope"></i></span>
											<input 
												formControlName="email" 
												type="text" 
												name="email" 
												id="email" 
												class="form-control" 
												placeholder="{{'EMAIL' | translate}}"
											>
										</div>
										<small 
											*ngIf="registerControls.get('email').hasError('email')" 
											class="input-error"
											translate
											>INVALID_EMAIL
										</small>
									</div>

									<div class="checkbox-wrapper">
										<input type="checkbox" formControlName="acceptTerms" name="terms" id="terms" class="form-control">
										<label for="terms" translate>ACCEPT_TERMS <a href="http://www.moneytransfersystem.com" target="_blank" translate>TERMS</a> </label>
									</div>

									<div class="button-wrapper">
										<button class="btn btn-link" [routerLink]="['/login']">Já tem uma conta?</button>
										<button type="submit" class="btn btn-primary">Cadastrar</button>
									</div>
								</form>
							</div>
						</div>
          </div>
          <div class="card-footer text-center">
            <language-list></language-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>