<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="card">
          <div class="card-block">
            <div class="row">
              <div class="col-12">
                <h1 translate>REGISTER</h1>
                <p class="text-muted" translate>REGISTER_SUB</p>
              </div>
            </div>
            <div class="row">
							<div class="col-12">
								<form>
									<div class="inline-field-wrapper">
										<div>
											<label for="firstName" translate>FIRST_NAME</label>
											<div class="input-group mb-2">
												<span class="input-group-addon"><i class="icon-user"></i></span>
												<input type="text" name="firstName" id="firstName" class="form-control" placeholder="{{'FIRST_NAME' | translate}}">
											</div>
										</div>
	
										<div>
											<label for="surname" translate>LASTNAME</label>
											<div class="input-group mb-2">
												<span class="input-group-addon"><i class="icon-user"></i></span>
												<input type="text" name="surname" id="surname" class="form-control" placeholder="{{'LASTNAME' | translate}}">
											</div>
										</div>
									</div>

									<div>
										<label for="birthday" translate>BIRTH_DATE</label>
										<div class="input-group mb-2">
											<span class="input-group-addon"><i class="icon-user"></i></span>
											<input type="date" name="birthday" id="birthday" class="form-control" placeholder="{{'BIRTH_DATE' | translate}}">
										</div>
									</div>

									<div class="inline-field-wrapper">
										<div>
											<label for="document" translate>IDENTIFICATION_DOC</label>
											<div class="input-group mb-2">
												<span class="input-group-addon"><i class="icon-location-pin"></i></span>
												<select name="document" id="document" class="select">
													<option value="" translate>PLEASE_SELECT</option>
													<option value="identidade">Identidade</option>
													<option value="passaporte">Passaporte</option>
													<option value="rg">RG</option>
												</select>
											</div>
										</div>
	
										<div>
											<label for="document" translate>DOCUMENT</label>
											<div class="input-group mb-2">
												<span class="input-group-addon"><i class="icon-user"></i></span>
												<input type="text" name="document" id="document" class="form-control" placeholder="{{'DOCUMENT' | translate}}">
											</div>
										</div>
									</div>

									<div>
										<label for="address" translate>ADDRESS</label>
										<div class="input-group mb-2">
											<span class="input-group-addon"><i class="icon-user"></i></span>
											<input type="text" name="address" id="address" class="form-control" placeholder="{{'ADDRESS' | translate}}">
										</div>
									</div>

									<div class="inline-field-wrapper">
										<div>
											<label for="city" translate>City</label>
											<div class="input-group mb-2">
												<span class="input-group-addon"><i class="icon-user"></i></span>
												<input type="text" name="city" id="city" class="form-control" placeholder="{{'CITY' | translate}}">
											</div>
										</div>
	
										<div>
											<label for="state" translate>STATE</label>
											<div class="input-group mb-2">
												<span class="input-group-addon"><i class="icon-user"></i></span>
												<input type="text" name="state" id="state" class="form-control" placeholder="{{'STATE' | translate}}">
											</div>
										</div>
									</div>

									<div class="inline-field-wrapper">
										<div>
											<label for="phone" translate>PHONE</label>
											<div class="input-group mb-2">
												<span class="input-group-addon"><i class="icon-user"></i></span>
												<input type="text" name="phone" id="phone" class="form-control" placeholder="{{'PHONE' | translate}}">
											</div>
										</div>
	
										<div>
											<label for="zip" translate>ZIPCODE</label>
											<div class="input-group mb-2">
												<span class="input-group-addon"><i class="icon-user"></i></span>
												<input type="text" name="zip" id="zip" class="form-control" placeholder="{{'ZIPCODE' | translate}}">
											</div>
										</div>
									</div>

									<div>
										<label for="email" translate>EMAIL</label>
										<div class="input-group mb-2">
											<span class="input-group-addon"><i class="icon-user"></i></span>
											<input type="text" name="email" id="email" class="form-control" placeholder="{{'EMAIL' | translate}}">
										</div>
									</div>

									<div class="button-wrapper">
										<button class="btn btn-link">Já tem uma conta?</button>
										<button class="btn btn-primary">Cadastrar</button>
									</div>
								</form>
							</div>
						</div>
          </div>
          <div class="card-footer text-center">
            <language-list></language-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
