<div class="card">
  <div class="card-header">
		<span translate>Make payment</span>
	</div>
  <main class="card-block">
		<div class="content">
			<div class="content-header">
				<h2>Pagar por transferência bancária</h2>
				<p>
					Conecte-se ao seu banco online ou entre em contato com o seu banco. Você poderá efetuar o pagamento em CHF.
					<strong>Se você pagar em outra moeda, recusaremos a transação.</strong> Transfira exatamente quantia escolhida para a conta da Anjos Express.
				</p>
			</div>
			<hr>
			<div>
				<div class="item">
					<span><strong>Para:</strong></span>
					<span>Anjos Express Imhof</span>
				</div>
				<div class="item-iban">
					<div>
						<span><strong>IBAN:</strong></span>
						<span>CH1830057072984410204</span>
					</div>
					<button (click)="copyIBAN()" type="button" class="btn btn-link btn-sm">
						<span>Copiar</span>
						<i class="fa fa-solid fa-copy"></i>
					</button>
				</div>
				<div class="item">
					<span><strong>Referência do pagamento:</strong></span>
					<span>00 00007 29844 10204 00232 47902</span>
				</div>
			</div>
			<h6 class="scan-qr-helper"><strong>Ou scaneie o QR-Code ao lado:</strong></h6>
			<h6 class="scan-qr-helper-mobile"><strong>Ou scaneie o QR-Code abaixo:</strong></h6>
		</div>
		<div class="qr-code-wrapper">
			<img src="../../../assets/img/qr-code.png" alt="">
		</div>
  </main>
	<div class="gen-qrbill-footer">
		<p style="color: #727d86;">Alternativamente, você pode gerar um QR-Bill.</p>
		<button (click)="generateQRBill()" type="button" class="btn btn-primary">
			<span>Gerar QR-Bill</span>
		</button>
	</div>
</div>