.card-block {
	display: flex;
}

.content {
	width: 50%;
}

.content-header {
	h2 {
		font-weight: 700;
	}

	p {
		color: #463a41;
		font-size: 15px;
	}
}

.item {
	display: flex;
	flex-direction: column;
	margin-bottom: 1.6rem;
	font-size: 15px;
}

.item-iban {
	display: flex;
	margin-bottom: 1.6rem;
	column-gap: 1rem;
	align-items: flex-end;

	div {
		display: flex;
		flex-direction: column;
	}

	button {
		position: relative;
		top: 4px;
		cursor: pointer;
	}
}

.qr-code-wrapper {
	width: 50%;
	
	img {
		display: block;
		max-width: 240px;
		margin: auto;
	}
}

.scan-qr-helper-mobile {
	display: none;
}

.gen-qrbill-footer {
	padding: 0 1.25rem 1.25rem 1.25rem;
	
	p {
		margin-bottom: 0.6rem;
	}

	button {
		cursor: pointer;
	}
}

@media screen and (max-width: 768px) {

	h2 {
		font-size: 28px;
	}


	.card-block {
		flex-direction: column;
	}

	.content {
		width: 100%;
	}

	.item-iban {
		justify-content: space-between;
	}

	.qr-code-wrapper {
		width: auto;
	}

	.scan-qr-helper {
		display: none;
	}

	.scan-qr-helper-mobile {
		display: block;
		text-align: center;
		margin-bottom: 1.4rem;
		margin-top: 1rem;
	}

	.gen-qrbill-footer {
		button {
			width: 100%;
		}
	}
}