#payment-form {
	height: 40rem;

	@media screen and (max-width: 480px) {
		height: 60rem;
	}
}

.card-block {
	padding: 0;
}

.card-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}