<div class="card">
  <div class="card-header">
		<span>Select an account</span>
	</div>
  <div class="card-block">
		<div *ngIf="accountList.length > 0; else noAccountsWarning" class="accounts">
			<div *ngFor="let account of accountList" (click)="selectAccount(account)" [class.selected]="selectedAccountName === account.name" class="account-container">
				<div class="account-head">
					<h5>{{account.name}}</h5>
					<img src="../../../assets/img/flags/Switzerland.png" alt="">
				</div>
				<div class="account-body">
					<h6>{{account.city}}</h6>
					<i class="icon-check"></i>
				</div>
				<div class="account-footer">
					<span>{{account.address}}</span>,
					<span>{{account.buildingNumber}}</span>
				</div>
			</div>
		</div>
		<div class="button-wrapper">
			<button type="button" [routerLink]="['/admin', 'transfer', 'summary']" class="btn btn-secondary" translate>BACK</button>
			<button (click)="nextPage()" class="btn btn-primary" [disabled]="!selectedAccountName" translate>Generate QR Bill</button>
		</div>
  </div>
</div>

<ng-template #noAccountsWarning>
	<div class="no-accounts-warning-container">
		<h4>Você ainda não tem contas bancárias</h4>
		<p>Por favor, adicione uma conta bancária antes de proceder com a criação do QR Bill.</p>
		<div>
			<button [routerLink]="['/admin', 'accounts']" class="btn btn-primary new-account-btn" >
				<span>Add new account</span>
				<i class="icon-arrow-right"></i>
			</button>
		</div>
	</div>
</ng-template>