.accounts {
	display: flex;
	gap: 1.8rem;
	flex-wrap: wrap;
}

.button-wrapper {
	display: flex;
	gap: 1rem;
	justify-content: right;

	@media screen and (max-width: 480px) {
		flex-direction: column-reverse;
	}

	button {
		cursor: pointer;
	}
}

.account-container {
	cursor: pointer;
	padding: 1rem;
	background-color: #e9f2f0;
	border-radius: 6px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

	.account-head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 0.6rem;

		h5 {
			font-weight: bold;
		}

		img {
			width: 32px;
			position: relative;
			bottom: 0.1rem;
		}
	}

	.account-body {
		height: 2.4rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 0.6rem;

		h6 {
			color: #615761;
			margin: 0;
		}

		i {
			font-size: 24px;
			color: green;
			position: relative;
		}
	}
}

.selected {
	background-color: #5cb85c;
}

.button-wrapper > .btn-primary {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 0.6rem;
}

.no-accounts-warning-container {
	h4 {
		font-weight: bold;
	}

	p {
		color: #615761;
	}

	.new-account-btn {
		cursor: pointer;

		i {
			position: relative;
			left: 6px;
		}
	}
}

@media screen and (max-width: 480px) {
	.new-account-btn {
		margin-bottom: 1.4rem;
		width: 100%;
	}

	.accounts {
		margin-bottom: 1rem;
	}
}