.card-block {
	display: flex;
	gap: 1.8rem;
	flex-wrap: wrap;
}

.account-container {
	padding: 1rem;
	background-color: #e9f2f0;
	border-radius: 6px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

	.account-head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 0.6rem;
		position: relative;

		h5 {
			font-weight: bold;
		}

		.icon-close {
			position: absolute;
			right: -20px;
			top: -20px;
			font-size: 22px;
			cursor: pointer;
		}

		.icon-close:hover {
			color: red;
		}
	}

	.account-body {
		height: 2.4rem;
		display: flex;
		align-items: center;
		column-gap: 0.8rem;

		h6 {
			color: #615761;
		}

		img {
			width: 24px;
			position: relative;
			bottom: 0.3rem;
		}
	}
}

.helper-text {
	h4 {
		font-weight: bold;
	}

	p {
		color: #615761;
	}
}

.button-container {
	padding: 0 1.25rem 1.25rem 1.25rem;
	.btn-primary {
		cursor: pointer;
		display: flex;
		justify-content: center;
		column-gap: 6px;
		align-items: center;
	}
}

.form-container {
	padding: 0 1.25rem 1.25rem 1.25rem;
}