<div class="card">
  <div class="card-header" translate>SENDER_ACCOUNTS</div>
  <div class="card-block">
		<div class="account-container">
			<div class="account-head">
				<h5>{{sample.name}}</h5>
				<img src="../../../assets/img/flags/Switzerland.png" alt="">
			</div>
			<div class="account-body">
				<h6>{{sample.city}}</h6>
				<i class="icon-check"></i>
			</div>
			<div class="account-footer">
				<span>{{sample.address}}</span>,
				<span>{{sample.buildingNumber}}</span>
			</div>
		</div>
  </div>
	<div class="button-container">
		<button class="btn btn-primary">
			<i class="fa fa-plus"></i>
			<span translate>Add new account</span>
		</button>
	</div>
</div>