<div class="button-wrapper">
	<button type="button" class="btn btn-secondary" [routerLink]="['/admin', 'invoices-history']">
		<i class="icon-arrow-left"></i>
		<span translate>BACK</span>
	</button>
</div>

<div class="card">
	<div class="invoice-header-container">
		<div class="number-container">
			<img src="../../../assets/img/flags/BR.png" alt="a country flag">
			<h4>{{invoice?.INVOICENUMBER}}</h4>
		</div>
		<div class="status-container">
			<div class="status-label-wrapper">
				<h4 class="status">Status</h4>
				<div class="date-wrapper">
					<h6>Ultima movimentação</h6>
					<span>{{invoice?.STATUSDATE}}</span>
				</div>
			</div>
			<strong translate>{{invoice?.INVOICESTATUS}}</strong>
		</div>
	</div>
	<div class="card-block">
		
		<h5 translate>DETAILS</h5>
		<div class="details-container">
			<div class="detail">
				<strong translate>AMOUNT</strong>
				<span>{{invoice?.UNIT}} {{invoice?.PAYRECEIVER}}</span>
			</div>
			<hr class="divider">	
			<div class="detail">
				<strong translate>DATE</strong>
				<span>{{invoice?.DATE}}</span>
			</div>
			<hr class="divider">
			<div class="detail">
				<strong translate>RECEIVER_NAME</strong>
				<span>{{invoice?.RECEIVERNAME}} {{invoice?.RECEIVERLAST}}</span>
			</div>
			<hr class="divider">	
			<div class="detail">
				<strong translate>PAYMENT_METHOD</strong>
				<span translate>{{invoice?.PAYMETHOD}}</span>
			</div>
			
		</div>
	</div>
</div>