<div class="button-wrapper">
	<button type="button" class="btn btn-secondary" [routerLink]="['/admin', 'invoices-history']">
		<i class="icon-arrow-left"></i>
		<span translate>BACK</span>
	</button>
</div>

<div class="card">
	<div class="invoice-header-container">
		<div class="number-container">
			<img src="../../../assets/img/flags/{{invoice?.FLAG}}.png" alt="a country flag">
			<h4>{{invoice?.INVOICENUMBER}}</h4>
		</div>
		<div class="status-container">
			<strong translate>{{invoice?.INVOICESTATUS}}</strong>
			<div class="date-wrapper">
				<h6 translate>LAST_UPDATE</h6>
				<span>{{invoice?.STATUSDATE}}</span>
			</div>
		</div>
	</div>
	<div class="card-block">
		<div class="details-container">
			<div class="detail">
				<strong>{{'AMOUNT' | translate}}:</strong>
				<span>{{invoice?.UNIT}} {{invoice?.PAYRECEIVER}}</span>
			</div>
			<hr class="divider">	
			<div class="detail">
				<strong>{{'CREATED_ON' | translate}}:</strong>
				<span>{{invoice?.DATE}}</span>
			</div>
			<hr class="divider">
			<div class="detail">
				<strong>{{'RECEIVER_NAME' | translate}}:</strong>
				<span>{{invoice?.RECEIVERNAME}} {{invoice?.RECEIVERLAST}}</span>
			</div>
			<hr class="divider">	
			<div class="detail">
				<strong>{{'PAYMENT_METHOD' | translate}}:</strong>
				<span translate>{{invoice?.PAYMETHOD}}</span>
			</div>
			<hr class="divider">	
			<div class="detail">
				<strong>{{'TRANSFER_TOTAL' | translate}}:</strong>
				<span>{{baseUnit}} {{invoice?.INVOICETOTAL}}</span>
			</div>
			
		</div>
	</div>
</div>